
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/main" text="Atras" color="primary" mode="ios"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-capitalize">Reporte de Rondas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12" size-lg="3" size-md="4" size-sm="12">
          <ion-input type="text" label="Nombre de cliente" label-placement="floating" value="{{clienterespuesta}}" fill="outline" mode="md" [readonly]="true">
            
          </ion-input>
        </ion-col>
        <ion-col size="12" size-lg="3" size-md="4" size-sm="12">
          <ion-datetime-button datetime="datetime" ></ion-datetime-button>

          <ion-modal [keepContentsMounted]="true">
            <ng-template>
              <ion-datetime  [showDefaultButtons]="true" doneText="Seleccionar" cancelText="Cancelar" id="datetime" presentation="date"  [showDefaultTitle]="true"  (ionChange)="fecha($event)"  >
                <span slot="title">Selecciona Fecha</span>
              </ion-datetime>
            </ng-template>
          </ion-modal>
        </ion-col>
        <ion-col size="12" size-lg="3" size-md="4" size-sm="12">
          <ion-button (click)="buscarreporte()" expand="block" fill="solid" color="success"  >
            Mostrar
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-card *ngFor="let dato of datos" >
      <img  src="{{url+dato.IDIMAGE+'.png'}}" />
      <ion-card-header>
        <ion-card-title>{{dato.PUNTOCONTROL}}</ion-card-title>
        <ion-card-subtitle>{{dato.RONDIN}}</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        <h1>Observacion:{{dato.OBSERVATION}}</h1>
        <br>
        <p>Fecha Hora:{{dato.DATE}}-{{dato.TIME}}</p>
        <br>
        <p>Zona: {{dato.ZONA}}</p>
        <br>
        <p>Tipo Ronda: {{dato.TYPEPOINT}}</p>
        <br>
        <p>Tipo Guardia: {{dato.TYPEGUARDIA}}</p>
        <br>
        <ion-button  (click)="vermapa(dato)" expand="block" fill="clear" shape="round">
          VER MAPA
        </ion-button>
        
      </ion-card-content>
    </ion-card>
  
</ion-content>
